* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

header {
  width: 100%;
  height: 10vh;
  background-color: white;
}
header .conHead {
  display: flex;
  align-items: center;
  justify-content: space-around;
  height: 100%;
}
header .conHead nav {
  display: flex;
  align-items: center;
  justify-content: center;
}
header .conHead nav ul {
  display: flex;
  align-items: center;
  justify-content: center;
  color: black;
  gap: 15px;
  list-style: none;
  font-size: larger;
  height: 100%;
}
header .conHead nav ul .page {
  position: relative;
}
header .conHead nav ul .page:hover .dropPage {
  display: block;
  width: 300%;
  transition: 0.3s;
}
header .conHead nav ul li .dropPage {
  display: none;
  flex-direction: column;
  gap: 10px;
  border: 1px solid black;
  padding: 5px;
  background-color: black;
  color: white;
  position: absolute;
  left: 0;
  top: 100%;
}
header .conHead nav ul li .dropPage a {
  color: white;
}
header .conHead nav ul li a {
  color: black;
  text-decoration: none;
}
header .conHead nav ul li:hover {
  transition: 0.3s;
  border-bottom: 4px solid orangered;
}
header .conHead .headRight {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  width: 15%;
}
header .conHead .headRight .register {
  display: flex;
  font-size: small;
  justify-content: start;
}
header .conHead .headRight .register a {
  text-decoration: none;
  color: black;
}
header .conHead .headRight .iconBox {
  display: flex;
  align-items: center;
  gap: 10px;
  position: relative;
  font-size: larger;
}
header .conHead .headRight .iconBox .spOne {
  padding: 2px 6px;
  background-color: black;
  color: white;
  border-radius: 1px solid black;
  border-radius: 50px;
  font-size: x-small;
  position: absolute;
  top: -15px;
  right: -10px;
}
header .conHead .headRight .iconBox .spTwo {
  padding: 2px 6px;
  background-color: black;
  color: white;
  border-radius: 1px solid black;
  border-radius: 50px;
  font-size: x-small;
  position: absolute;
  top: -15px;
  right: 15px;
}
header .conHead i {
  display: none;
}

main {
  height: 100vh;
}
main .secOne {
  height: 100%;
  width: 100%;
}
main .secOne div .row .firstPfirst {
  height: 80%;
  width: 50%;
}
main .secTwo {
  display: flex;
  align-items: center;
  flex-direction: column;
  height: 100%;
}
main .secTwo .conTwo {
  display: flex;
  justify-content: space-between;
}
main .secTwo .conTwo h3 {
  color: black;
}
main .secTwo .conTwo div {
  color: black;
}
main .secTwo .conTwo div ul {
  display: flex;
  align-items: center;
  gap: 20px;
  list-style: none;
}
main .secTwo .conTwo div ul li a {
  text-decoration: none;
  color: black;
}
main .secTwo .container .row .card {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 15px;
}
main .secTwo .container .row .card img {
  width: 100%;
}
main .secTwo .container .row .firstCon {
  display: flex;
  padding: 15px;
  gap: 80px;
}

@media screen and (max-width: 576px) {
  header .conHead .headRight {
    display: none;
  }
  header .conHead nav {
    display: none;
  }
  header .conHead i {
    display: block;
  }
}
@media screen and (min-width: 577px) and (max-width: 992px) {
  header .conHead .headRight {
    display: none;
  }
}